* {
  box-sizing: border-box;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-mode__toggle {
  background: gray;
  height: 10px;
  position: relative;
  width: 40px;
}

.toggle {
  background: rgba(150, 200, 50);
  height: 10px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 15px;
}

.toggled {
  left: 25px;
}

.dark-mode {
  color: red;
  background-color: yellow;
  border: 1px dashed red;
}
